body {
	margin:0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
	color:#2f2f2f;
}

.IcnOtr {
	width: 90px;
	height: 90px;
	position: absolute;
	right: 30px;
	bottom: 30px;
	z-index: 100;
}

.IcnAni {
	width:80px;
	height: 80px;
	border-radius: 100%;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: ripl;
	position: absolute;
	z-index: 80;
}

@keyframes ripl {
	0% {
	   opacity: 0.6;
	   transform:scale(0.7);
	}
	100% {
	   opacity:0.2;
	    transform:scale(1.3);
	}
 }

 .IcnAni-2 {
	width:80px;
	height: 80px;
	border-radius: 100%;
	margin: 10px;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: ripl-2;
	position: absolute;
	z-index: 70;
}

@keyframes ripl-2 {
	0% {
	   opacity: 0.8;
	   transform:scale(1);
	}
	100% {
	   opacity:0.2;
	    transform:scale(1.3);
	}
 }

.IcnClk2 {
	width:80px;
	height:80px;
	border-radius:100%;
	padding: 10px;
	position: absolute;
	z-index: 95;
}


.IcnClk2 .ChtWndOtr {
	position: absolute;
	z-index: 95;
	top: -490px;
	right:-10px;
	opacity: 1;
	transform: scale(1);
	transition: 0.5s linear;
}




.IgSz {
	width: 100%;
	height: auto;
}

.ChtWndOtr {
	width:400px;
	height: 600px;
	border-radius: 10px;
	position: absolute;
	z-index: 95;
	opacity: 0;
	transform: scale(0);
	transform-origin: 100% 100%;
}

.IcnClk:hover .ChtWndOtr {
	position: absolute;
	z-index: 95;
	top: -490px;
	right:-10px;
	opacity: 1;
	transform: scale(1);
	transition: 0.5s linear;
}

.TpHdr {
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	border-radius: 10px 10px 0 0;
	padding: 5px 10px 5px 10px;
}

.Hdr {
	font-size: 20px;
	font-weight: 700;
	line-height: 2;
	float: left;
}

.MnuIcn {
	height: 20px;
	width: 20px;
	float: right;
	position: relative;
	margin-top: 10px;
}

.TxtBxOtr {
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	padding:5px;
	border-radius: 0 0 10px 10px;
	position: absolute;
	bottom: 0;
	left:0;
	z-index: 100;
}

.Pls:hover {
	transform: rotate(45deg);
	transition: 0.2s linear;
}

.SerBtn {
	width:7%;
	float: left;
	position: relative;
	margin-right: 5%;
	margin-top: 5px;
}

.SerBtn:hover .MnuOtr {
	opacity: 1;
	transform: scale(1);
}

.MnuOtr {
	width: 400px;
	height: 370px;
	box-sizing: border-box;
	padding: 10px;
	background-color: #fff;
	border-radius: 20px 20px 0 0;
	overflow:hidden;
	position: absolute;
	top:-383px;
	left: -5px;
	opacity: 0;
	z-index: 300;
	transform: scale(0);
	transition: 0.3s linear;
	transform-origin: 0 100%;
}

.MnuItmOtr {
	width:90px;
	height:120px;
	margin-right: 54.666px;
	float: left;
	transition: linear 0.4s;
}

.MnuItmOtr:hover {
	transform: scale(1.25);
}


.MnuItmOtr:nth-child(3n) {
	margin-right: 0;
}

.MnuItm {
	width: 34px;
	height: 34px;
	background-color: #e9ffea;
	padding: 10px;
	border-radius: 50% 50%;
	margin: 10px auto;
	box-shadow: 0 0 9px #b0b0b0;
}

.MnuItmTxt {
	height: 20px;
	font-size: 12px;
	text-align: center;
	line-height: 1.5;
}

.TxtBx {
	width: 73%;
	height: 40px;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	box-sizing: border-box;
	border:none;
	outline: none;
	float: left;
}

.TxtBxBtn {
	width:15%;
	height: auto;
	float: right;
}

.BblOtr {
	height: 490px;
	overflow-y: scroll;
	margin-top:5px;
	padding-right:5px;
}

.BblRf-1 {
	width: 100%;
	overflow: hidden;
	text-align: right;
	float: right;
	display: block;
	margin-top: 10px;
}

.BblOutImg {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	overflow: hidden;
	display: block;
	background-color: #dcdcdc;
	float: right;
}

.BblOut {
	max-width:75%;
	font-size: 14px;
	line-height: 1.5;
	box-sizing: border-box;
	display: block;
	padding: 15px;
	border-radius: 25px 0 25px 25px;
	text-align: left;
	float: right;
	margin:8px 8px 0 0;
}

.BblRf-2 {
	width: 100%;
	overflow: hidden;
	text-align: left;
	float: left;
	display: block;
	margin-top: 10px;
}

.BblInImg-2 {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	overflow: hidden;
	display: block;
	background-color: #dcdcdc;
	float: left;
}

.BblIn {
	max-width:75%;
	color: #5b5b5b;
	font-size: 14px;
	line-height: 1.5;
	box-sizing: border-box;
	display: block;
	padding: 15px;
	border-radius: 0 25px 25px 25px;
	text-align: left;
	float: left;
	margin:8px 0 0 8px;
}

.BgBk {
	background:url(../images/bg.jpg) top left no-repeat;
	padding:15px;
}

.HiTxt {
	font-size: 25px;
	color: #2f2f2f;
	font-weight: 700;
}

.BblOtr-01 {
	width: 100%;
	height: 490px;
	overflow-y: scroll;
	background:url(../images/bg.jpg) top left no-repeat;
	margin-top:5px;
	position: absolute;
	top:40px;
	left:0;
	z-index: 100;
}

.HiSub {
	font-size: 14px;
	line-height: 1.5;
}

.HmBlkOtr-01 {
	width: 100%;
	border-radius: 10px;
	/*background-color: #ffffff;
	border:solid 1px #c8fffb;
	box-shadow: 0 0 10px #ccc;*/
	padding: 10px;
	box-sizing: border-box;
	margin-top:20px;
}

.BlkLnkOtr a {
	/*color:#2f2f2f;*/
	text-decoration: none;
	display: block;
	overflow:hidden;
	margin-top: 20px;
}

.BlkLnkOtr a:hover {
	/*color:#2f2f2f;*/
	text-decoration: none;
	display: block;
	overflow:hidden;
}

.BlkLnkOtr .BlkIcn {
	width: 25px;
	height: 25px;
	border-radius: 50% 50%;
	padding: 15px;
	/*background-color: #4ecdc4;*/
	float: left;
	margin-right: 5%;
}

/*.BlkLnkOtr:hover .BlkIcn {
	background-color: #1a535c;
}*/

.BlkLnkOtr .LnkTxtOtr {
	width: 77%;
	float: left;
}

.BlkLnkOtr .LnkHd {
	font-size: 15px;
	font-weight: 700;
	/*color: #2f2f2f;*/
}

/*.BlkLnkOtr:hover .LnkHd {
	color:#4ecdc4;
}*/

.BlkLnkOtr .LnkSub {
	font-size: 14px;
	line-height: 1.5;
}

.Clr {
	clear:both;
}